//fonts
$bungee: "Bungee", sans-serif;
$sansPro: "Source Sans Pro", sans-serif;

//colours
$tweetBlue: #0083A3;
$bgBeige: #f4f1ec;
$offRed: #E3340B;
$shdwGrey: #bab5bad1;
$navOrnge: #c03212;
$offBlack: #1b1919d0;
$offWhite: #FBFCFF;
$offGrey: #605856;
$offBlue: #1C6E8C;
$offDarkBlue: #274156;
$altBlue: #00B5E2;
$bodyName: #545149;
$transBlack: #0000003a;
$transGrey: #605856ce;
$transOrnge: #d00a0aac;
$white: #ffffff;
$flag: #E3A50B;
$retweet: #00B5E2;
$heart: #E3340B;
